/* //  Final Project: Quiz Application with Microservices
//  Date: 30-May-2023
//  Authors:
//           A01745597 Fernando Emilio Nava Cano
//           A01745696 Yahir Cortes Rodriguez
//           A01025261 Maximiliano Carrasco Rojas
//           A01742023 Alberto Jashua Rodriguez Villegas */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.LeaderBoard{
    font-family: 'Righteous', cursive;
}

.Board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    border-top: black solid 3px;
    margin-top: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    font-size: 30px;
}

.Player{
    display: flex;
    width: 95%;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-top: 10px;
}
.Player a:first-child{
    padding: 0px 300px 0px 10px;
}

.Player a:last-child{
    padding: 0px 10px 0px 10px;
    

}