/* //  Final Project: Quiz Application with Microservices
//  Date: 30-May-2023
//  Authors:
//           A01745597 Fernando Emilio Nava Cano
//           A01745696 Yahir Cortes Rodriguez
//           A01025261 Maximiliano Carrasco Rojas
//           A01742023 Alberto Jashua Rodriguez Villegas */
.Navbar{
    margin-top: 20px;
}

nav *{
    padding: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 900;
}