@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.Home{
    font-family: 'Righteous', cursive;
}

.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu h1{
    font-size: 80px;
    border-radius: 20px;
    background: rgba(197, 255, 250, 0.67);
    box-shadow: 10px 0px 50px 50px rgba(197, 255, 250, 0.67);
}

.Menu form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu form :nth-child(2), :nth-child(3){
    margin-top: 10px;
}

.Menu button {
    margin-top: 20px;
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 900;
    font-size: 20px;
}

.Select10{
    width: 300px;
}

.inputText{
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.Start{
    transition: .5s;
}

.Start:hover{
    background: rgb(109, 214, 255);
}