body{
    background-color: rgb(26, 11, 224);
    background-image: url('./images/wave\ \(2\).svg');
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    min-height: 650px;
}